### please refer to this sample config for using the apps ###

[Database "key"]
    master      = "user=usr password='passwd' dbname=dbname host=127.0.0.1 port=5432 sslmode=disable"
    master-conn = 100
    master-idle = 10
    maxlifeconn = 9000
    
[Redis]
    main = "127.0.0.1:6379"

[Token]
    access-exp = 15
    refresh-exp = 7